.social-link {
  position: relative;

  @if $socialAnimation {
    &:hover {
<<<<<<< HEAD
      opacity: 1;
      top: -2px;
      transition: top ease 0.5s;
    }
=======
      top: -2px;
      transition: top ease 0.5s;
    }

  }

  @if $socialColor {
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
>>>>>>> 84f4de969de91d935841d66890a082e69e8a75b5
  }

}
